/*Ajout des polices*/
@font-face {
	font-family: 'Rubik Medium';
	src: url('fonts/Rubik-Medium.eot');
	src: local('☺'), url('fonts/Rubik-Medium.woff') format('woff'), url('fonts/Rubik-Medium.ttf') format('truetype'), url('fonts/Rubik-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Rubik Regular';
	src: url('fonts/Rubik-Regular.eot');
	src: local('☺'), url('fonts/Rubik-Regular.woff') format('woff'), url('fonts/Rubik-Regular.ttf') format('truetype'), url('fonts/Rubik-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*Style de caractère*/
h1,h2{
	font-family:"Rubik Medium";
	color:#2e2e2e;
	font-weight: normal;
	margin: 0;
}

h1{
	font-size:2.25rem;
	line-height: 2.7rem;
}
h2{
	font-size:1.25rem;
	line-height: 1.5rem;
}
body{
	font-family:"Rubik Regular";
	color:#5e5e5e;
	font-size:1rem;
	line-height:1.875rem;
	text-align: center;
}
p{
	margin: 0;
}
.standard_title{
	font-size:1.0625rem;
	line-height:2rem;
}
.text-center{
	text-align: center;
}
/*flex*/
.d-flex{
	display:flex;
}
.flex-bettween{
	justify-content: space-between;
}
.flex-column{
	flex-direction: column;
}
.flex-center{
	justify-content: center;
}

/*largeur*/
.w-69{
	width:73.125rem;
}

/*Mise en page*/
body{
	margin: 0;
}
.title_text{
	width:46rem;
}
.title_layout{
	margin-bottom: 1.4625rem;
}
.tab_layout{
	margin-top: 5.7375rem;
}
.tab_items{
	width:16.875rem;
	box-shadow: 0px 7px 27px rgba(0, 0, 0, .15);
	border-radius: 10px;
}
.tab_logo{
	margin-top:57px;
	margin-bottom:36.1px;
}

.tab_text-layout{
	margin: 1.03125rem auto 3.15625rem auto;
}
.tab_text{
	width:67.6%;
}

/*RESPONSIVE*/
@media screen  and (max-width:1200px){
	html{
		font-size: 200%;
	}
	.main_content{
		width:95%;
	}
	.tab_layout{
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.responsive{
		margin-bottom: 2rem;
	}
	.tab_items{
		width: 45%;
	}
	.tab_text{
		width: 90%;
	}
	.tab_layout{
		margin-top: 3rem;
	}
	.title_layout{
		margin-top:2rem;
	}

}



